<div class="container">
    <div class="row">
        <div class="col-md-2">
            <menu-biblioteca></menu-biblioteca>
        </div>
        <div class="col-md-8">
            <div ng-view=""></div>
        </div>
    </div>
</div>
