<form>
    <div class="form-group">
        <label for="editorialId">Id</label>
        <input class="form-control" id="editorialId" ng-model="editorialActual.Id" ng-disabled="true" />

    </div>
    <div class="form-group">
        <label for="editorialNombre">Nombre</label>
        <input class="form-control"id="editorialNombre" ng-model="editorialActual.Nombre" />
    </div>

    <div class="form-group">
        <button ng-click="salvarEditorial()" class="btn btn-default">Salvar</button>
        <button class="btn btn-default">Cancelar</button>
    </div>
</form>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th></th>
    </tr>

    <tr ng-repeat="editorial in editoriales">
        <td>{{editorial.Id}}</td>
        <td>{{editorial.Nombre}}</td>
        <td>
           <button ng-click="editar(editorial)" class="btn btn-link">Editar</button>
        </td>
 
       </tr>


</table>


